/**/

body{
  background-color: cornflowerblue;
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;

}

.container{
  position: fixed;
  background-color: cornsilk;
  width: 70%;
  height: 25vh;
  top: 22vh;
  left: 8vh;
  border-radius: 30px;
  padding: 0;
}

h1{
  font-family: Elephant;
  font-size: 70px;
}
h2{
    font-family: Elephant;
  font-size: 35px;
}

button{
  width: 80%;
  height: 13vh;
  border-radius: 50px;
  border: none;
  color: white;
  background-color: black;
  font-size: 30px;
  font-family: Elephant;
  margin-top: 250px;
}

.sl{
  position: fixed;
  background-color: cornsilk;
  width: 85%;
  height: 30vh;
  top: 22vh;
  left: 4vh;
  
  padding: 0;
}
